/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex; /* Use um display flex para centralizar vertical e horizontalmente */
    justify-content: center; /* Centralize horizontalmente */
    align-items: center; /* Centralize verticalmente */
    height: 500vh; /* Defina a altura para ocupar toda a altura da janela do navegador */
}

/* Estilos para a seção do tabuleiro Sudoku */
#sudoku-section {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: fit-content; /* Ajustar a largura automaticamente ao conteúdo */
    max-width: 50%; /* Limitar a largura máxima da tabela */
}

#sudoku-container {
    width: 300px; /* Defina a largura desejada para o contêiner */
    margin: 0 auto; /* Isso centralizará o contêiner horizontalmente */
    padding: 20px; /* Adicione um espaço de preenchimento para espaçamento interno */
    background-color: #f0f0f0; /* Adicione uma cor de fundo para destacar o contêiner */
}


/* Estilos para as células do tabuleiro Sudoku */
#sudoku-board {
    border-collapse: collapse;
    margin: 0 auto;
    width: auto; /* Defina a largura como automática para se ajustar ao conteúdo */
}


#sudoku-board td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid #ddd;
}

#sudoku-board td.given {
    background-color: #eee;
}
